.bg-hero {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(168, 75, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background: url(./assets/bg-hero.jpg);
  filter: brightness(1);
  background-position: center;
}

.bike-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
